.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-card {
    margin-top: 20px;
    padding: 20px;
  }
  
  .radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  p {
    font-size: 18px;
    color: #333;
    word-break: break-all;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
  }
  